<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
function editor_enable(){
    tinymce.init({
        selector: "h1.editable",
        inline: true,
        toolbar: "undo redo",
        menubar: false
    });

    tinymce.init({
        selector: "div.editable",
        inline: true,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
    $("#save").show();
    $("#publish, #edit").hide();
}
function editor_disable(){
    tinymce.remove("h1.editable");
    tinymce.remove("div.editable");
    $("#save").hide();
    $("#publish, #edit").show();
}
$(document).ready(function(){
    $("#save").click(function(){
        var headline = $("h1.editable").text();
        var content = $("div.editable").html();
        var image = $("div.editable img")[0].src;
        document.title = headline+" - The Puma Press";
        NProgress.start();
        $.post(window.location.pathname, {title:headline,body:content,image:image}, function(data) {
            json = JSON.parse(data);
            window.history.pushState({},"","/article/"+json.id);
            editor_disable();
            NProgress.done();
        });
    });
    $("#publish").click(function(){
        var publish = $("#publish").text()=="Publish";
        NProgress.start();
        $.post(window.location.pathname, {published:publish}, function(data) {
            json = JSON.parse(data);
            if(publish){
                $("#publish").text("Unpublish")
            } else {
                $("#publish").text("Publish")
            }
            NProgress.done();
        });
    });
});
</script>
<style>
    h1.editable:empty {
    }
    div.editable:empty {
    }
    div.buttons {
        float:right;
    }
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="container">
    <% if editor? %>
        <div class="buttons">
            <button id="edit" onclick="editor_enable()">Edit</button>
            <button id="save" style="display: none;">Save</button>
            <% if @article && @article.published %>
                <button id="publish">Unpublish</button>
            <% else %>
                <button id="publish">Publish</button>
            <% end %>
        </div>
    <% end %>
    <% if @article %>
        <h1 class="editable"><%= @article.title %></h1>
        <div class="editable" style="width:100%;"><%= @article.body %></div>
        <title><%= @article.title %> - The Puma Press</title>
    <% else %>
        <h1 class="editable">Have a Headline</h1>
        <div class="editable" style="width:100%;">And some content.</div>
        <title>New Article - The Puma Press</title>
    <% end %>
</section>
<% if @article %>
    <section class="container">
        <div class="fb-comments" data-href="http://thepumapress.org/article/<%= @article.id %>" data-width="940"></div>
    </section>
<% end %>
