
<script src="js/ui.coverflow.js"></script>

<section id="coverflow_wrapper">
    <div id="coverflow">
        <% Article.all(published:true).each do |art| %>
            <div data-id=<%= art.id %> data-title="<%= art.title %>">
                <div style="background-image: url('<%= art.image %>')">
                    <div>
                        <%= art.title %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="slider"></div>
</section>
<hr>
<section id="social" class="container">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPuma-Press%2F146302839666&amp;width=465&amp;height=600&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:465px; height:600px;" allowTransparency="true"></iframe>
    <a class="twitter-timeline" href="https://twitter.com/thepumapress" data-widget-id="372554525023817728">Tweets by @thepumapress</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</section>
<script>
var defaultItem = Math.floor($("#coverflow").children().length/2);
$("#coverflow").coverflow({
     item: defaultItem,
     duration:1200,
     select: function(event, sky)
     {
        console.log($(sky.item).data());
        $("#slider").slider( "option", "value", sky.value);        
     }
 });
 $("#slider").slider({
     min: 0,
     max: $('#coverflow > *').length-1,
     value: defaultItem,
     slide: function(event, ui) {
         $("#coverflow").coverflow('select', ui.value, true);
     }
 });        
</script>
