<div class="user_selector edit-mode" style="display: none;">
    Select authors by dragging into box above: 
    <ul class="author-list sortable">
        <% User.all(:rank.gte => 50).each do |user| %>
            <% if not @article.users.include? user %>
                <li data-username="<%= user.username %>">
                    <a href="/user/<%= user.username %>" class="author"><%= user.display_name %></a>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>
<script>
function enable_user_selector(){
    $(".user_selector").show();
    $( ".sortable" ).sortable({
      connectWith: ".sortable"
    }).disableSelection();
    $(".sortable").addClass("outline");
}
function disable_user_selector(){
    $(".user_selector").hide();
    $(".sortable").sortable("destroy").enableSelection();
    $(".sortable").removeClass("outline");
}
</script>
