$blue: #15355e;

* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
header {
    width: 100%;
    text-align: center;
}
hr {
    width: 940px;
    height: 1px;
    background-color: #114566;
    margin: 16 auto;
}
.container {
    width: 940px;
    margin: 0 auto;
}
#coverflow_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 450px;
}
#coverflow {
    display: inline-block;
    height: 600px;
    width: 2600px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 25px;
    -webkit-perspective: 35em;
    perspective: 35em;
}

#coverflow > div {
    width: 380px;
    height: 320px;
    float: left;
    position: relative;
    //margin: -35px;
    cursor: pointer;
    box-shadow: 0 0 32px black;
    background-color: white;
}
#coverflow > div > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    height: 100%;
    width: 100%;
     -webkit-box-reflect: below 24px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.3)));
}
#coverflow > div > div > a {
    position: relative;
    width: 362px;
    height: 36px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    padding: 0 9px;
    font-size: 18px;
    line-height: 36px;
    top: 284px;
    display: block;
    text-decoration: none;
    &:hover {
        color: darken(white,30%);
    }
}
#slider {
    width: 640px;
    margin: 0 auto;
    position: relative;
    top: 400px;
}
.nav_bar {
    margin: 10px 0;
    width: 100%;
    background-color: $blue;
    color: white;
    height: 36px;
    & > ul > * {
        margin: 0 10px;
    }
    a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        line-height:36px;
        &:hover {
            color: darken(white,30%);
        }
    }
    li {
        display: inline-block;
        &.icon {
            margin-top: -20px;
            a {
                font-size: 28px;
                height: 18px;
                margin-top: -20px;
                position: relative;
                top: 3px;
                i {
                    line-height: 36px;
                }

            }

        }
    }
}
.search {
    input {
        border-radius: 3px;
        border: none;
        padding: 1px 5px;
        font-size: 18px;
        width: 120px;
        -moz-transition:width 0.5s;
        -webkit-transition:width 0.5s;
        -o-transition:width 0.5s;
        transition:width 0.5s;
        &:focus {
            width: 250px;
        }
        &::-webkit-input-placeholder {
           font-weight: bold;
           font-size: 18px;
        }
        &:-moz-placeholder { /* Firefox 18- */
           font-weight: bold;
           font-size: 18px;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           font-weight: bold;
           font-size: 18px;
        }
        &:-ms-input-placeholder {  
           font-weight: bold;
           font-size: 18px;
        }
    }
}
.category {
    font-size: 1.5em;
    font-weight: bold;
}
a.category {
    text-decoration: none;
    color: $blue;
    &:hover {
        color: lighten($blue,30%);
    }
}
h1.editable {
    display: inline-block;
    min-width: 200px;
}
.slash {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 10px;
}
#published {
    font-style: italic;
    font-size: 0.8em;
    &.not {
        color: red;
    }
}
.article_well {
    div {
        width: 250px;
        height: 250px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        a {
            position: relative;
            height: 36px;
            width: 232px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            font-weight: bold;
            padding: 0 9px;
            font-size: 18px;
            line-height: 36px;
            top: 214px;
            display: block;
            text-decoration: none;
            &:hover {
                color: darken(white,30%);
            }
        }
    }
}

footer {
    width: 100%;
    background-color: $blue;
    color: white;
    margin-top: 16px;
    padding: 8px 0;
    section {
        font-size: 14px;
        padding: 8px 0;
        table {
            width: 100%;
            color: white;
            border: none;
            span {
                border-bottom: 1px solid white;
                width: 170px;
                font-weight: bold;
                padding: 5px 0;
                display: inline-block;
            }
            tbody {
                td {
                    vertical-align: top;
                }
                ul {
                    width: 150px;
                    margin: 0 auto;
                    a {
                        color: white;
                        text-decoration: none;
                        &:hover {
                            color: darken(white,30%);
                        }
                    }
                }
            }
        }
        &.copyright {
            text-align: center;
            a {
                font-size: 14px;
                text-decoration: none;
                color: white;
                &:hover {
                    color: darken(white,30%);
                }
            }
        }
    }
}
body > .wrapper {
    min-height: 100%;
}
section#social {
    margin-top: 16px;
    width: 400px;
    font-size: 18px;
    border: 1px solid darken(white,30%);
    border-radius: 16px;
    padding: 36px;
    min-height: 48px;
    #pic {
        float: left;
        margin-right: 8px;
    }
}
