$blue: #15355e;

$white-hover: transparentize(white,0.5);
$blue-hover: transparentize($blue,0.5);

* {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
header {
    width: 100%;
    text-align: center;
}
hr {
    width: 940px;
    height: 1px;
    background-color: #114566;
    margin: 16 auto;
    border: none;
}
.container {
    width: 940px;
    margin: 0 auto;
}
#coverflow_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 450px;
}
#coverflow {
    display: inline-block;
    height: 600px;
    width: 10000px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 25px;
    -webkit-perspective: 18in;
    perspective: 18in;
}

#coverflow > div {
    width: 380px;
    height: 320px;
    float: left;
    position: relative;
    //margin: -35px;
    cursor: pointer;
    box-shadow: 0 0 32px black;
    background-color: white;
}
#coverflow > div > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    height: 100%;
    width: 100%;
    // -webkit-box-reflect: below 24px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.3)));
}
#coverflow > div > div > a {
    position: relative;
    width: 362px;
    height: 36px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    padding: 0 9px;
    font-size: 18px;
    line-height: 36px;
    top: 284px;
    display: block;
    text-decoration: none;
    &:hover {
        color: $white-hover;
    }
}
#slider {
    width: 940px;
    margin: 0 auto;
    position: relative;
    top: 400px;
    height: 18px;
    cursor: pointer;
    .ui-slider-handle {
        height: 26px;
    }
    .slider-category {
        position: absolute;
        height: 100%;
        line-height: 100%;
        text-align: center;
        font-size: 18px;
        color: $blue;
        background-color: transparent;
        font-weight: bold;
        padding: 0 3px;
        &:hover {
            color: white;
            background-color: $blue;
        }
    }
}
.nav_bar {
    margin: 10px 0;
    width: 100%;
    background-color: $blue;
    color: white;
    height: 36px;
    & > ul > * {
        margin: 0 10px;
    }
    a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        line-height:36px;
    }
    li:hover > a{
        color: $white-hover;
    }
    li {
        display: inline-block;
        position: relative;
        cursor:pointer;
        &.icon {
            margin-top: -20px;
            a {
                font-size: 28px;
                height: 18px;
                margin-top: -20px;
                position: relative;
                top: 3px;
                i {
                    line-height: 36px;
                }

            }
        }
        &:hover ul {
            left: 0;
        }
        ul {
            -webkit-transform: translate3d(0,0,0);
            z-index: 3000;
            position: absolute;
            background: $blue;
            padding: 3px 8px;
            margin-left: -9px;
            list-style: none;
            left: -99999px;
            li {
                border-top: 1px solid white;
                white-space: nowrap;
                display: block;
                a {
                    display: block;
                }
            }
        }
    }
}
.search {
    input {
        border-radius: 3px;
        border: none;
        padding: 1px 5px;
        font-size: 18px;
        width: 120px;
        -moz-transition:width 0.5s;
        -webkit-transition:width 0.5s;
        -o-transition:width 0.5s;
        transition:width 0.5s;
        &:focus {
            width: 250px;
        }
        &::-webkit-input-placeholder {
           font-weight: bold;
           font-size: 18px;
        }
        &:-moz-placeholder { /* Firefox 18- */
           font-weight: bold;
           font-size: 18px;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           font-weight: bold;
           font-size: 18px;
        }
        &:-ms-input-placeholder {  
           font-weight: bold;
           font-size: 18px;
        }
    }
}
.category {
    font-size: 1.5em;
    font-weight: bold;
}
a.category {
    text-decoration: none;
    color: $blue;
    &:hover {
        color: $blue-hover;
    }
}
h1.editable {
    display: inline-block;
    min-width: 100px;
    &#title {
        font-weight: normal;
    }
}
.slash {
    //font-weight: bold;
    font-size: 1.5em;
    margin: 0 0.3em;
}
#authors, #published {
    font-size: 14px;
    display: inline-block;
    &.not {
        color: red;
    }
}
#authors .sortable {
    min-width: 100px;
    min-height: 10px;
    display: inline-block;
}
.article_well {
    a {
        width: 250px;
        height: 250px;
        position: relative;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        text-decoration: none;
        div {
            position: absolute;
            width: 232px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            font-weight: bold;
            padding: 8px 9px;
            font-size: 18px;
            line-height: 20px;
            bottom: 0;
            display: block;
            text-decoration: none;

        }
        &:hover div {
            color: $white-hover;
        }
    }
}

footer {
    width: 100%;
    background-color: $blue;
    color: white;
    margin-top: 16px;
    padding: 8px 0;
    section {
        font-size: 14px;
        padding: 8px 0;
        table {
            width: 100%;
            color: white;
            border: none;
            span {
                border-bottom: 1px solid white;
                //width: 170px;
                font-weight: bold;
                padding: 5px 9px;
                display: inline-block;
            }
            tbody {
                td {
                    vertical-align: top;
                    text-align: center;
                }
                ul {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    a {
                        color: white;
                        text-decoration: none;
                        &:hover {
                            color: $white-hover;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &.copyright {
            text-align: center;
            color: $white-hover;
            line-height: 24px;
            a {
                font-size: 14px;
                text-decoration:none;
                color: white;
                &:hover {
                    color: darken(white,30%);
                    text-decoration:underline;
                }
            }
        }
    }
}
body > .wrapper {
    min-height: 100%;
}
#social {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 32px;
    width: 400px;
    font-size: 18px;
    border: 1px solid darken(white,30%);
    border-radius: 16px;
    padding: 36px;
    min-height: 48px;
    text-decoration: none;
    color: black;
    #pic {
        float: left;
        margin-right: 8px;
    }
}
.badge {
    border-radius: 12px;
    background-color: $blue;
    color: white;
    padding: 0 9px;
    text-align: center;
    display: inline-block;
    height: 16px !important;
    line-height: 16px !important;
    font-size: 14px;
    position: relative;
    top: -1px;
}
ul.list {
    list-style: none;
    padding: 0;
}
.list-placeholder {
    height: 24px;
    width: 922px;
    background-color: lighten($blue,30%);
    border: 1px solid $blue;
    padding: 8px;
}
.user {
    height: 24px;
    line-height: 24px;
    display: table;
    width: 922px;
    color: black;
    text-decoration: none;
    padding: 9px;
    &:hover {
        background-color: $blue;
        .name {
            color: white;
        }
        .badge {
            background-color: white;
            color: $blue;
        }
    }
    .name {
        font-weight: bold;
        display: table-cell;
        span {
            line-height: 24px;
            display: inline-block;
            height: 24px;
            font-weight: normal;
        }
    }
    .user_options {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}
.notifications {
    position: absolute;
    top: 0;
    width: 100%;
    .notification {
        background-color: rgba(0,0,0,0.8);
        height: 36px;
        color: white;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 36px;
        cursor: pointer;
        &:hover {
            background-color: rgba(0,0,0,0.5);
        }
        &.error {
            background-color: rgba(128,0,0,0.8);
            &:hover {
                background-color: rgba(128,0,0,0.5);
            }
        }
    }
}
.picture {
    margin-right: 9px;
    margin-bottom: 9px;
    a {
        width: 250px;
        height: 250px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-background-size: cover;
    }
    .picture-upload {
        width: 250px;
    }
}
.content {
    width: 681px;
    margin: 0 259px;
    float: middle;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.buttons {
    float: right;
    margin: 0;
}
.outline, .editable.mce-content-body {
    min-height: 20px;
    min-width: 100px;
    outline: 1px dashed $blue;
}
.sortable.author-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height:14px;
    min-height: 14px;
    li {
        display: inline-block;
        .author {
            //color: white;
            //background-color: $blue;
            display: inline-block;
            height: 14px;
            line-height: 14px;
            font-style: none;
            font-size: 14px;
        }
        & + li {

            &:before {
                content: ", ";
                margin-right: 1px;
                font-size: 14px;
            }
        }
    }
}
.user_selector {
    margin-top: 9px;
}
i.editable {
    display: block;
}
.content .articles {
    font-size: 14px;
}
h1 {
    &.category {
        display: inline-block;
        font-weight: bold;
        a {
            font-weight: bold;
            text-decoration: none;
            color: $blue;
            &:hover {
                text-decoration: underline;
                color: $blue-hover;
            }
        }
        &.slash {
            font-weight: normal;
        }
    }
    span.editable {
        display: inline-block;
    }
}
.edit-mode {
    display: none;
}
header {
    margin-bottom: 16px;
}
h1 {
    padding: 0;
    margin: 0;
}
ul {
    &.staff-list {
        list-style: none;
        padding: 0;
        .content {
            min-height: 259px;
        }
    }
    &.potential-staff-list {
        height: initial !important;
        min-height: 100px !important;
        li {
            * {
                font-size: 14px !important;
            }
            div, p {
                display: inline-block;
            }
            .picture, div.editable, div.articles {
                display: none;
            }
            h1.editable {
                min-width: initial;
            }
            .content {
                width: initial;
                margin: 0;
            }
        }
    }
}
